html, body{
    width: 100%;
    height: 100%;
}

.cuerpo{
    display: flex;
}



.encabezado, .contenidoPrincipal{
    height: 100%;
}

.encabezado{
    width: 10%;
}



.contenidoPrincipal{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    flex-grow: 2;
    width: 90%;
}

.cuadroIngresoTexto, .cuadroSalidaTexto{
    height: 90%;
    width: 40%;
    align-items: center;
}


.cuadroIngresoTexto{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.cuadroIngresoTexto-footer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 20%;
    width: 100%;
}

.restricciones{
    display: flex;
    justify-content: center;
    align-items: center;
}

.botones{
    display: flex;
    justify-content: space-evenly;
}


.cuadroSalidaTexto{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
