*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    outline-style: none;
    font-family: 'Inter', sans-serif;
    color: #0A3871;
}

.encabezado{
    background: #E5E5E5;
}

.encabezado .iconoAlura{
    padding: 1em;
}

.contenidoPrincipal{
    background: #E5E5E5;
}

.cuadroEntradaTexto{
    width: 100%;
    height: 60%;
}

.cuadroIngresoTexto .cuadroEntradaTexto .ingresoTexto{
    background: #E5E5E5;
    text-align: center;
    width: 100%;
    height: 100%;
    resize: none;
    border: none;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    color: #0A3871;
}

.restricciones .notificacion{
    width: 15px;
    margin-right: 5px;
}

.botones .cifrado, .botones .descifrado{
    width: 10em;
    height: 3em;   
    border-radius: 1em;
    font-size: 1em;
    cursor: pointer;
}

.botones .cifrado:active, .botones .descifrado:active{
    transform: translateY(-0.7px);
}

.botones .cifrado{
    background-color: #0A3871;
    border: none;
    color: white;
}

.botones .descifrado{
    background-color: #D8DFE8;
    border: 1px solid #0A3871;
}

.cuadroSalidaTexto{
    background: white;
    border-radius: 1em;
}

.munieco{
    width: 70%;
    height: auto;
}


.cuadroSalidaTexto .p1{
    color: #343A40;
    font-size: 20px;
    font-weight: 700;
    margin: 1em;
}

.cuadroSalidaTexto .p2{
    width: 70%;
    text-align: center;
    color:#495057;
}


@media (max-width: 768px){
    
    .cuerpo{
        flex-direction: column;
        border:none;
    }
    
    .cuerpo .encabezado .iconoA{
        z-index: 1;
    }
    
    .cuerpo .encabezado, .cuerpo .contenidoPrincipal{
        width: auto;
        height: 13%;
    }

    .cuerpo .contenidoPrincipal{
        flex-direction: column;
        justify-content: space-evenly;
    }

    .contenidoPrincipal .cuadroIngresoTexto, .contenidoPrincipal .cuadroSalidaTexto{
        height: 47%;
        width: 80%;
    }

    .cuerpo .contenidoPrincipal .cuadroIngresoTexto .cuadroEntradaTexto{
        padding: none;
        width: 100%;
    }

    .cuadroIngresoTexto .cuadroEntradaTexto{
        height: 60%;
    }

    .cuadroIngresoTexto .cuadroIngresoTexto-footer{
        width: 100%;
        height: 40%;
    }

    .cuadroIngresoTexto-footer .restricciones{
        font-size: 0.7em;
    }

    .botones .cifrado, .botones .descifrado{
        width: 7em;
        height: 2em;
    }

    .contenidoPrincipal .cuadroSalidaTexto{

    }

    .cuadroSalidaTexto .munieco{
        display: none;
    }

    .cuadroSalidaTexto .cuadroSalidaTexto-footer{
        height: 80%;
        text-align: center;
    }

    .cuadroSalidaTexto .p1, .cuadroSalidaTexto .p2{
        height: 40%;
        justify-content: space-between;
    }
}